html {font-size: 18px;}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  font-size: 1em;
  color: var(--color-gray-darker);
}

p, button {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em; 
  /* font-size: 53.93px */
}

h2 {
  font-size: 2.441em; 
  /* font-size: 43.95px */
}

h3 {
  font-size: 1.563em;
  /* font-size: 28.13px */
}

h4,
.subtitle {
  font-weight: 600;
  font-size: 1.25em;
  /* font-size: 22.50px */
  letter-spacing: 1px;
}

p {
  font-size: 1em;
  /* font-size: 18px */
  font-weight: 400;
  margin-bottom: 1.25em;
}

button {
  font-size: .8em;
  letter-spacing: 1px;
  font-weight: 600;
}

.actions,
.highlight,
.invalid
a {
  font-size: 1em;
  /* font-size: 18px */
  font-weight: 500;
  letter-spacing: 0.75px;
}

.highlight,
.router-link-exact-active {
  color: var(--color-primary) !important;
  font-weight: 600;
}

.invalid {
  color: var(--color-red);
  border-color: var(--color-red);
}

.tooltip {
  font-size: .8em;
  /* font-size: 14px */
  font-weight: 500;
  letter-spacing: 0.75px;
}

.overline {
  font-size: .8em;
  /* font-size: 14px */
  letter-spacing: 2px;
}

.logo {
  font-size: 1.563em;
  /* font-size: 28.13px */
  font-weight: 500;
  color: var(--color-gray);
}
