:root {
  --color-primary: #5436D6;
  --color-black: #000e1a;
  --color-white: #fff;
  --color-blue: #007ce0;
  --color-red: #dc3545;
  --color-green: #28C081;
  --color-navy: #004175;
  --color-gray-lighter: #cccccc;
  --color-gray: #424242;
}